<ion-content>
  <img src="../../assets/img/Fondo1.jpg"  id="fondo">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-center">
          <img class="logoW" src="assets/img/LogoLO.png" alt="logo">
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-center">
          <h1>Contraseña nueva</h1>
          <ion-card>
            <ion-card-content>
              <ion-list class="center">
                <ion-item class="rounded">
                  <ion-input placeholder="Nueva contraseña" id="Password" type="password"></ion-input>
                </ion-item>
                <ion-item class="rounded">
                  <ion-input placeholder="Confirme su contraseña" id="Password2" type="password"></ion-input>
                </ion-item>
              </ion-list>
              <a (click)="evaluarPassword()">
                <img  class="BtnI" src="assets/img/BtnEnviar.png" alt="logo">
              </a>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="ion-text-center">
          <img class="logob" src="assets/img/LogoBayer.png" alt="logoB">
        </div>
      </ion-col>
      <ion-col size="3">
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
