.background {
    --background: url('../../assets/img/Fondo1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#fondo{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.logob{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    width: 20%;
}
.logoW{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    width: 100%;
}
ion-card {
    border-radius: 10px;
}
.BtnI{
    width: 30%;
    margin-top: 0%;
}

ion-item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border-radius: 30px !important;
    font-size: 1.2em;
    margin-bottom: 30px;
    border: 1px solid #989aa2;
    box-shadow: none !important;
    width: 70%;
}
h1 {
    color: #fff;
    font-size: 2.2em;
}
